[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.23.1"
opencv-contrib-python = "==4.6.0.66"
opencv-python = "==4.6.0.66"
imutils = "*"
scipy = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.9"
